<h2>Estadísticas</h2>
<br/>

<h4>Número de preguntas:</h4> <%=npreguntas%>
<h4>Número de comentarios totales:</h4> <%=ncomentarios%>
<h4>Número medio de comentarios por pregunta:</h4> <%=mediaComentarios%>
<h4>Número de preguntas sin comentarios:</h4> <%=preguntasSinComentarios%>
<h4>Número de preguntas con comentarios:</h4> <%=preguntasConComentarios%>
